#player-container #play-pause {
  
}
.play {
  <h1><b>Intro</b></h1>;
  cursor: pointer;
  text-align: left;
  font-size: 25px
}
.pause {
   color: #e85a5a;
   <h1><b>Intro</b></h1>;
   cursor: pointer;
   text-align: left;
   font-size: 25px
}
